@mixin setZ($value){
  @if $value < 0{$value:0};
  box-shadow: $value*0.0px $value*1px $value*2px (rgba(0,0,0,0.2));
  transform: scale(($value) * 0.0025 + 1);
  z-index:$value*10;
}

.isBlock{
  display:block;
}

.isInline{
  display:inline;
}

.neutralized-list{
  list-style:none;
}/*
.materials{
  &:first-child{

  }

  &:last-child{

  }
}*/
.material{
  @include setZ(0);
  overflow:hidden;
  border-radius:5px;

  border-top:solid 1px rgba(255,255,255,0.1);
  border-left:solid 1px rgba(255,255,255,0.1);
  border-bottom:solid 1px rgba(0,0,0,0.1);
  border-right:solid 1px rgba(0,0,0,0.1);

  &:hover,&:active{
    border-radius:5px;
  }
}
.material.join-top{
  border-top:0;
  border-top-left-radius:0;
  border-top-right-radius:0;
  &:hover,&:active{
    @extend .material;
  }
}
.material.join-bottom{
  border-bottom:0;
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
  &:hover,&:active{
    @extend .material;
  }
}
.low{
  // @extend .material;
  @include setZ(1);
}
.medium{
  // @extend .material;
  @include setZ(4);
}
.high{
  // @extend .material;
  @include setZ(7);
}
.no-scale{
  transform: scale(1)!important;
}
.no-sadow{
  box-shadow: none;
}

.enter{
  opacity:0;
}

.leave{
  opacity:0;
}
