@mixin setZ($value){
  @if $value < 0{$value:0};
  box-shadow: $value*0.0px $value*1px $value*2px (rgba(0,0,0,0.2));
  transform: scale(($value) * 0.0025 + 1);
  z-index:$value*10;

  transition-property:box-shadow, transform, z-index;
  transition-duration:0.3s;
  transition-timing-function:ease-in-out;
}

.isBlock{
  display:block;
}

.isInline{
  display:inline;
}

.neutralized-list{
  list-style:none;
  padding:0;
  width:100%;
}/*
.materials{
  &:first-child{

  }

  &:last-child{

  }
}*/
$radius:2px;
$borderStroke:0px;
$lightBorder:rgba(255,255,255,0.2);
$noLightBorder:rgba(255,255,255,0);
$darkBorder:rgba(0,0,0,0.2);
$noDarkBorder:rgba(0,0,0,0);

.cut-top{
  border-top:solid $borderStroke $lightBorder;
  border-top-left-radius:$radius;
  border-top-right-radius:$radius;
}
.cut-bottom{
  border-bottom:solid $borderStroke $darkBorder;
  border-bottom-left-radius:$radius;
  border-bottom-right-radius:$radius;
}
.cut-right{
  border-right:solid $borderStroke $darkBorder;
  border-top-right-radius:$radius;
  border-bottom-right-radius:$radius;
}
.cut-left{
  border-left:solid $borderStroke $lightBorder;
  border-top-left-radius:$radius;
  border-bottom-left-radius:$radius;
}
.cut-vertical{
 @extend .cut-top;
 @extend .cut-bottom;
}
.cut-horizontal{
 @extend .cut-left;
 @extend .cut-right;
}
.cut{
 @extend .cut-vertical;
 @extend .cut-horizontal;
}

.heal-top{
  border-top:solid $borderStroke $noLightBorder;
  border-top-left-radius:0;
  border-top-right-radius:0;
}
.heal-bottom{
  border-bottom:solid $borderStroke $noDarkBorder;
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
  @extend .no-shadow;
}
.heal-right{
  border-right:solid $borderStroke $noDarkBorder;
  border-top-right-radius:0;
  border-bottom-right-radius:0;
}
.heal-left{
  border-left:solid $borderStroke $noLightBorder;
  border-top-left-radius:0;
  border-bottom-left-radius:0;
}
.heal-vertical{
 @extend .heal-top;
 @extend .heal-bottom;
}
.heal-horizontal{
 @extend .heal-left;
 @extend .heal-right;
}
.heal{
 @extend .heal-vertical;
 @extend .heal-horizontal;
}

.material{
  overflow:hidden;
  @extend .cut;

  &:hover,&:active{
    @extend .cut;
  }
}

.low{
  // @extend .material;
  @include setZ(2);
}
.medium{
  // @extend .material;
  @include setZ(8);
}
.high{
  // @extend .material;
  @include setZ(16);
}
.no-scale{
  transform: scale(1)!important;
}
.no-shadow{
  box-shadow: none;
}
